.color1 {
    transition: all linear 0.3s;
    background-color: rgb(74, 53, 144);
}
.color2 {
    transition: all linear 0.3s;
    background-color: rgb(142, 128, 86);
}
.color3 {
    transition: all linear 0.3s;
    background-color: rgb(42, 102, 80);
}
.color4 {
    transition: all linear 0.3s;
    background-color: rgb(180, 200, 200);
}
.color5 {
    transition: all linear 0.3s;
    background-color: rgb(13, 54, 75);
}
.color6 {
    transition: all linear 0.3s;
    background-color: rgb(3, 24, 60);
}