.coloer1 {
    background-image:  linear-gradient(rgba(51, 13, 75, 0.35), #000);
}

.coloer2 {
    background-image:  linear-gradient(rgba(33, 13, 75, 0.35), #000);
}

.coloer3 {
    background-image:  linear-gradient(rgba(24, 13, 75, 0.35), #000);
}

.coloer4 {
    background-image:  linear-gradient(rgba(13, 74, 75, 0.35), #000);
}

.coloer5 {
    background-image:  linear-gradient(rgba(13, 75, 67, 0.35), #000);
}

.coloer6 {
    background-image:  linear-gradient(rgba(13, 70, 75, 0.35), #000);
}