/* PC */
@media (min-width: 1024px) {}

/* Tablet and Mobile */
@media (max-width: 1023px) {
    .res-hide {
        display: none !important;
    }

    #root {
        grid-template-columns: 0 100% 0;
        grid-template-rows: auto;  
    }

    #mainhead-fixed {
        display: none;
    }

    #mainhead-connav {
        height: max-content;
        grid-template-columns: 48% 48%;
        padding-bottom: 6%;
    }

    #mainhead-connav .list-img {
        width: 50px;
    }

    #mainhead-content {
        padding-top: 0;
        padding: 0px 10px;
    }

    .main-footer {
        display: block;
    }

    .playing-song-content-info {
        max-width: 100%;
    }

    #timer-head {
        margin-top: 60px;
    }

    .root__header-mobile-tablet {
        display: flex;
    }


    .nav-input-item:checked~.header__mobile-tablet {
        opacity: 1;
        display: none;
    }

    /* HEADER MOBILE */
    .header__mobile-tablet {
        position: fixed;
        top: 0;
        z-index: 8;
        width: 100%;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        background-color: rgba(117, 112, 112, 0.3);
        width: 100%;
    }

    .header__left, .header__right {
        display: flex;
        margin: auto 0px;
    }
    
    .header__left>img {
        width: 35px;
        margin-right: 10px;
    }
    .header__left>span {
        color: var(--white-color);
        font-size: 2.9rem;
        margin: auto;
    }
    
    .header__right i {
        font-size: 2.2rem;
        color: var(--white-color);
    }

    .header__right label {
        margin: 0px 10px;
    }

/* body */

    #main-body .body-playlist-item .body-playlist-item-header {
        font-size: 12px;
    }

    #main-body .body-playlist-item a {
        font-size: 10px;
    }

/* footer */

    .foot-playing .playing-song-img-mob {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .foot-playing .playing-song-content-favourite {
        width: 14px;
        height: 14px;
    }

    .playing-song-content-info-artist,
    .playing-song-content-info-name {
        font-size: 10px;
    }

    .foot-play-info .res-input input {
        margin: 0;
    }

    /* play screen */    
    .root__playing {
        height: 100%;
        z-index: 10;   
        animation: slideUp ease-in 0.1s forwards;
    }
    #play-info {
        flex-direction: column;
        padding-bottom: 15%;
        padding-top: 5%; 
    }
    .playing-song-img {
        width: 80%;
        margin: 15% auto;
    }
    .playing-song {
        flex-direction: column-reverse;
        margin: auto 3%;
        width: 100%;
    }
    .playing-control {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .playing-control__buttons {
        display: flex;
        justify-content: space-between;
        margin: 10% 0;
    }
    .playing-control i {
        font-size: 2.4rem;
    }
    .play-mob .playing-control__buttons-playpause i {
        font-size: 6rem !important;
    }
    .playing-control__playback__timeplayed, .playing-control__playback__timetotal {
        font-size: 1.4rem;
    }

    .playing-song-content {
        display: flex;
        justify-content: space-between;
    }
    .play-mob .playing-song-content-info div{
        font-size: 2rem;
        padding: 5px 0px;
    }
    .playing-mediacontrol {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .playing-mediacontrol img {
        width: 2.4rem;
    }
    .play-mob .playing-song-content-overlay, .playing-mediacontrol__volumebar, .playing-mediacontrol__fullscreen {
        display: none;
    }
    .playing-song-content-favourite {
        width: 2.4rem;
    }
    .playing-song-content__wrapper {
        display: flex;
        
    }
    .playing-song-content-icon-mob {
        color: var(--white-color);
        font-size: 2.2rem;
        margin: auto;
        padding: 1rem;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .font-14tab {
        font-size: 14px;
    }

    .root__view-profile {
        right: 500px;
        display: block;
    }

    #mainhead-content h1 {
        font-size: 18px;
    }

    #mainhead-connav h2 {
        width: 85%;
    }

    #play-info {
        padding: 5% 8% 15% 8%;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /*.root-left {
        display: none;
    }*/

    .font-10mob {
        font-size: 10px;
    }

    .root__view-profile {
        right: 50px;
    }
    
    .body-play-list {
        overflow-x: scroll;
    }

    .body-playlist-item {
        min-width: 35%;
        margin-right: 4px;
    }

    #mainhead-connav h2 {
        width: 100%;
    }

    #mainhead-connav .head-navin4 {
        padding: 10px;
    }

    #main-body {
        padding: 36px 10px;
    }


    .main-openplaylist-header {
        flex-direction: column;
        align-items: normal;
    }

    .main-openplaylist-header > img {
        width: 40%;
        margin: 0 30%;
    }

    .main-openplaylist-header__title {
        margin-top: 15px;
    }

    .main-openplaylist-header__title__name {
        font-size: 16px;
        line-height: normal;
    }

    .album {
        display: none;
    }

    .main-openplaylist-body__table {
        padding: 0 10px;
    }

}