/* PC */
@media (min-width: 1024px) {}

/* Tablet and Mobile */
@media (max-width: 1023px) {
    .res-hide {
        display: none !important;
    }

    #root {
        grid-template-columns: 0 100% 0;
        grid-template-rows: auto;  
    }

    #mainhead-fixed {
        display: none;
    }

    #mainhead-connav {
        height: max-content;
        grid-template-columns: 49% 49%;
        padding-bottom: 6%;
    }

    #mainhead-connav .list-img {
        width: 50px;
    }

    #mainhead-content {
        padding-top: 0;
        padding: 0px 10px;
    }

    .main-footer {
        display: block;
    }

    .playing-song-content-info {
        max-width: 100%;
    }

    #timer-head {
        margin-top: 60px;
    }

    .root__header-mobile-tablet {
        display: flex;
    }

    .header__mobile-tablet {
        display: flex;
    }

    .nav-input-item:checked~.header__mobile-tablet {
        opacity: 1;
        display: none;
    }

/* body */

    #main-body .body-playlist-item .body-playlist-item-header {
        font-size: 12px;
    }

    #main-body .body-playlist-item a {
        font-size: 10px;
    }

/* footer */

    .foot-playing .playing-song-img {
        width: 32px;
        height: 32px;
    }

    .foot-playing .playing-song-content-favourite {
        width: 14px;
        height: 14px;
    }

    .playing-song-content-info-artist,
    .playing-song-content-info-name {
        font-size: 10px;
    }

    .foot-play-info .res-input input {
        margin: 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    .font-14tab {
        font-size: 14px;
    }

    .root__view-profile {
        right: 500px;
        display: block;
    }

    #mainhead-content h1 {
        font-size: 18px;
    }

    #mainhead-connav h2 {
        width: 85%;
    }

    .header__left>img {
        width: 40px;
        height: auto;
        margin-left: 24px;
    }

    .header__left>span {
        font-size: 2.9rem;
        font-weight: 700;
        color: #ffffff;
        margin-left: 15px;
    }

    .header__right {
        margin-left: 70%;
    }

    .header__right>label {
        margin-left: 40px;
    }

    .header__right-home>img {
        width: 25px;
        height: auto;
    }

    .header__right-search>img {
        width: 25px;
        height: auto;
    }

    .root__nav-bar>img {
        width: 25px;
        height: auto;
    }

}

/* Mobile */
@media (max-width: 739px) {
    /*.root-left {
        display: none;
    }*/

    .font-10mob {
        font-size: 10px;
    }

    .root__view-profile {
        right: 50px;
    }

    .header__left>img {
        width: 37px;
        height: auto;
        margin-left: 24px;
    }

    .header__left>span {
        margin-left: 8px;
    }

    .header__right {
        margin-left: 55%;
    }

    .header__right>label {
        margin-left: 23px;
    }

    .header__right-home>img {
        width: 20px;
        height: auto;
    }

    .header__right-search>img {
        width: 20px;
        height: auto;
    }

    .root__nav-bar>img {
        width: 20px;
        height: auto;
    }

    .body-play-list {
        overflow-x: scroll;
    }

    .body-playlist-item {
        min-width: 35%;
        margin-right: 4px;
    }

    #mainhead-connav h2 {
        width: 100%;
    }

    #mainhead-connav .head-navin4 {
        padding: 10px;
    }

    #main-body {
        padding: 36px 10px;
    }


    .main-openplaylist-header {
        flex-direction: column;
        align-items: normal;
    }

    .main-openplaylist-header > img {
        width: 40%;
        margin: 0 30%;
    }

    .main-openplaylist-header__title {
        margin-top: 15px;
    }

    .main-openplaylist-header__title__name {
        font-size: 16px;
        line-height: normal;
    }

    .album {
        display: none;
    }

    .main-openplaylist-body__table {
        padding: 0 10px;
    }

}